.title{
    text-align: center;
    font-weight: 700;
    text-align: center;
    font-size: 35px;
    margin-top: 0;
}

.budget{
    margin-bottom: 0;
    font-weight: 300;
    font-size: 30px;
    color: gray;
    margin-top: -20px;
    text-align: center;
}