.wrapper{
    width: 75%;
    height: 5vh;
    border-bottom: 1px solid lightgray;
    margin: 10px 0;
    outline: none;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    background-color: gray;
    font-weight: 700;
    border: 0;
    box-shadow: 0 20px 40px -5px rgba(rgb(46, 46, 46), .3);
    cursor: pointer;
    border-radius: 20px;
}