.wrapper {
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    background-color: #fff;
    box-shadow: 0 20px 40px -5px rgba(rgb(46, 46, 46), .3);
    border-radius: 25px;
    position: fixed;
  }
  .graphWrapper{
    text-align: center;
  }
  .button{
    float: right;
  }