
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 25vw ;
    width: 50vw;
}
.title{
    font-size: 20px;
    color: gray;

}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 45vw;
}

